@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply bg-white font-poppins;
}